html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 191, 243);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(163, 121, 180);
    border-radius: 5%;
    box-shadow: 0 10px 20px rgb(70, 10, 103);
    min-width: 300px;
    min-height: 300px;
    max-width: 450px;
    gap: 20px;
}

#sign-in-text {
    font-family: Arial, sans-serif;
    color: rgb(70, 10, 103);
    font-size: 40px;
    margin: 0;
}

#sign-in-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#input-box {
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
}

#username, #password {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    align-items: center;
}

#submit-button {
    border-radius: 10px;
    align-items: center;
    width: 80%;
    height: 40px;
    border:none;
    color:rgb(70, 10, 103);
    background-color: rgb(255, 255, 255);
}

#submit-button:hover {
    background-color: rgb(142, 54, 192);
    color: white;
}

/* media query for smaller screens
@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    #username, #password, #submit-button {
        width: 90%;
    }
} */